.search {
  width: 100%;
  align-self: center;
  border: none;
  border-radius: 0.5em;
  padding: 1rem;
  font-size: 1em;
  background: #fafafa;
}

.search:focus {
  outline: none;
}

.scrollBox {
  min-height: 30vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  border-radius: 0.5em;
  padding: 1rem;
  overflow-y: auto;
}