.header {
  z-index: 1;
  height: 32px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: #0001 1.5px solid;
  display: flex;
  color: #555;

}

.menuItem {
  height: 26px;
  width: 26px;
  margin-left: 4px;
  border-radius: 20%;
  cursor: pointer;
  user-select: none;
  line-height: 21px;
  font-size: 24px;
  background-color: #fff1;
  border: #0002 1.5px solid;
  transition-duration: 200ms;
}

.menuItem:hover {
  background-color: #0001;
  color: #333;
}

.menuItem:active {
  background-color: #0002;
  scale: 0.95;
}

.button {
  height: auto;
  width: 48px;
  transition-duration: 200ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background-color: rgba(0, 0, 0, 10%);
  color: #222;
}

.button:active {
  background-color: rgba(0, 0, 0, 20%);
}

.buttonX {
  background-color: rgba(255, 255, 255, 0%);
  height: auto;
  width: 48px;
  transition-duration: 200ms;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 0;
  cursor: pointer;
  user-select: none;
}

.buttonX:hover {
  background-color: rgba(200, 40, 0, 100%);
  color: #fff;
}

.buttonX:active {
  background-color: rgba(200, 40, 0, 80%);
}