.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  background-color: #fff;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 10em;
  pointer-events: none;
  user-select: none;
  margin-top: 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.link {
  color: #b318f0;
}

.search {
  width: 50%;
  align-self: center;
  border: none;
  border-radius: 0.5em;
  padding: 1rem;
  font-size: 1em;
  background: #fafafa;
}

.search:focus {
  outline: none;
}

.scrollBox {
  height: 20vmax;
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  border-radius: 0.5em;
  padding: 1rem;
  overflow-y: auto;
}

@property --contrast {
  syntax: '<color>';
  inherits: false;
  initial-value: #fafafa00;
}

@property --p1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 20%;
}

@property --p2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 20%;
}

@property --p3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 80%;
}

@property --p4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 80%;
}

.food {
  user-select: none;
  cursor: copy;
  background: linear-gradient(90deg, #fff var(--p1), var(--contrast) var(--p2), var(--contrast) var(--p3), #fff var(--p4));
  transition: --contrast 200ms, --p1 100ms, --p2 100ms, --p3 100ms, --p4 100ms;
}

.food:hover {
  --contrast: #f8f8f8ff;
  --p1: 10%;
  --p2: 10%;
  --p3: 90%;
  --p4: 90%;
}

.food:active {
  --contrast: #fafafaff;
  --p1: 0%;
  --p2: 0%;
  --p3: 100%;
  --p4: 100%;
}